@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.fadIn {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1);
  -webkit-animation-timeline: view();
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
}

.fadIn {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1);
  -webkit-animation-timeline: view();
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.collapse-title::before {
  color: #ebd909;
}

h1 {
  font-family: "Outfit", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
